<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amciu App</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ asset('/dist/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/fontello/font/icons.css') }}">
    <style>
        #overlay.active{
            opacity: 0.3 !important;
        }
    </style>  
</head> 
<body ng-app="amciu">
    <!-- <img id="overlay" class="active" src="../media/Desktop/helper.png" style="position:absolute;top:0;left:50%;margin-left:-720px;opacity: 0;z-index:99;"> -->

    <header class="header-beam">
        <div class="container">
            <h1 id="logo">AmciuApp</h1>
            <nav id="main-navigation">
                <ul> 
                    <li>  
                        <a href="#"><i class="icon-power"></i> Sign Out</a> 
                    </li> 
                </ul>
            </nav>
        </div>
    </header>

    <main ng-controller="HomepageController">
        <h2 class="content content-header">
            orders
        </h2>

        <div class="content">
            <ul class="orders-tabs">
                <li class="active">Active</li>
                <li>History</li>
            </ul>
        </div>

        <div class="orders">
            <div class="orders-content">  
                <div class="orders-actions">
                    <button class="btn btn-standard-size btn-white">
                        <i class="icon-plus"></i>Create Order
                    </button>
                </div>

                <div class="orders-list">
                    <div class="orders-header">
                        <div class="orders-restaurant">Order from</div>
                        <div class="orders-owner">Owner</div>
                        <div class="orders-price">Price</div>
                    </div>

                    <div class="orders-ordered-item" ng-repeat="order in orders" repeat-end="showOrdedDetailsHandler()">
                        <div class="ordered-item-header">
                            <div class="orders-restaurant">{[{ order.restaurant }]}</div>
                            <div class="orders-owner">{[{ order.owner }]}</div>
                            <div class="orders-price">{[{ order.price }]}</div>
                            <div class="icon-angle-down"></div>
                        </div>
                        <div class="ordered-item-details">
                            <div class="ordered-item-details-meta">
                                <div class="ordered-item-actions">
                                    <button class="btn btn-standard-size btn-blue" ng-show="order.status == 'opened'"><i class="icon-plus"></i>Add Meal</button>
                                </div>
                                <div class="ordered-item-status">
                                    <span>Status:</span>
                                    <ul class="status-tabs">
                                        <li ng-class="{ 'current': order.status == 'opened' }"><i class="icon-pencil"></i>Opened</li>
                                        <li ng-class="{ 'current': order.status == 'finalized' , 'status-tab-disabled': order.status == 'opened' }"><i class="icon-lock"></i>Finalized</li>
                                        <li ng-class="{ 'current': order.status == 'ordered' , 'status-tab-disabled': order.status == 'opened' || order.status == 'finalized' }"><i class="icon-phone"></i>Ordered</li>
                                        <li ng-class="{ 'current': order.status == 'delivered' , 'status-tab-disabled': order.status != 'delivered' }"><i class="icon-ok"></i>Delivered</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="orders-header order-details-header" ng-show="order.orderedMeals.length > 0">
                                <div class="orders-restaurant">Meal</div>
                                <div class="orders-owner">Orderer</div>
                                <div class="orders-price">Price</div>
                            </div>
                            <div class="ordered-meals-list">
                                <div class="ordered-meal" ng-repeat="meal in order.orderedMeals">
                                    <div class="ordered-meal-name">{[{ meal.mealName }]}</div>
                                    <div class="ordered-meal-orderer">{[{ meal.owner }]}</div>
                                    <div class="ordered-meal-price">{[{ meal.price }]}</div>
                                    <div class="ordered-meal-actions">
                                        <button class="btn btn-edit"><i class="icon-edit"></i></button>
                                        <button class="btn btn-delete"><i class="icon-trash-empty"></i></button>
                                    </div>
                                </div>
                            </div>
                            <p class="clearfix"></p>
                        </div>
                    </div> 
                    <p class="clearfix"></p>
                </div> 
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; Amciu & Partners 2016</p> 
    </footer>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="{{ asset('/dist/js/main.min.js') }}"></script>
    <script>
        // var overlay = document.getElementById('overlay');
        // overlay.addEventListener("click", function(e){ 
            
        //     if(this.className == 'active') {
        //         this.className = '';
        //     } else {
        //         this.className = 'active';
        //     }

        // }, false); 
    </script>
</html>